* {
  box-sizing: border-box;
   font-family: Helvetica;

}







/** HEADER **/



#header-nav {
background-color: #117d0a;
border-radius: 0;
border: 0;
margin-left: 0;
}

.container div{
  padding:0;
} 

.navbar-brand {
 padding-top:25px;
 margin-left: 0;
}

.navbar-brand h1 {

color: #ffffff;
font-size: 1.5em;
font-weight: bold;
text-shadow: 1px 1px 1px #222
margin-top:0;
margin-bottom: 0;
margin-left: 0;
line-height: 0.75;

}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}



#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  border
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

#hea-cont {
margin-left: 15px;
padding-left: 0;

}


h2 {
  
  font-size: 175%;
}



div:first-child section{

padding: 0 0 0 0;

}

.container-fluid section{
    padding: 0 0 0 0;
}

p {
 
   background-color: #89CFF0;
 font-size: 100%;
  color: #000000;

height: 400px;


}

section{
   
   box-sizing: border-box;
   
   height: 450px;
   margin-top: 20px;
   border:  0 0 0 0;



}

.mytitle {
position: relative;
background-color:  #FF7F50;
font-weight: bold;
margin-top: 0px;
margin-left: 0px;

border-top: 0px;
border-right: 0px;


color: #FFFFFF;

height: 30px;
line-height: 30px;

}

section#CA{
  background-color:  #DC143C;
}

section#GH{
  background-color:  #CC9C00;
}






  